divert(-1)
define(`PRIVATE_IP', `')
define(`PUBLIC_IP', `')
define(`PORT', `5060')
define(`SQL_ACCOUNT'),`root')
define(`SQL_PASSWORD', `')
define(`ABUSE_DB_KEY', `')
define(`BUSINESS_HOURS',`America/New_York|20210104T090000|21000104T170000||WEEKLY|||MO,TU,WE,TH,FR')
define(`ISP_EMAIL',`')
define(`NOTIFICATION_EMAIL',`')
define(`AUTHORIZE_METHOD',`503') 
define(`VERIFICATION_METHOD',`CAPTCHA')
define(`PIN',`')
divert(0)