divert(-1)
define(`PRIVATE_IP', `172.31.53.39')
define(`PUBLIC_IP', `54.146.73.194')
define(`PORT', `5060')
define(`SQL_ACCOUNT',`root')
define(`SQL_PASSWORD', `')
define(`ABUSE_DB_KEY', `a386a124f2474f95417eadff5bfa0badbae51c3dd81895c9d0e3e597e294b5a96108a0f5124064ab')
define(`BUSINESS_HOURS',`America/New_York|20210104T090000|21000104T170000||WEEKLY|||MO,TU,WE,TH,FR')
define(`ISP_EMAIL',`cloud@wehostvoip.io')
define(`NOTIFICATION_EMAIL',`flavio@voffice.com.br')
define(`AUTHORIZE_METHOD',`503')
define(`VERIFICATION_METHOD',`CAPTCHA')
define(`PIN',`6578')
define(`MAX_CAPTCHAATTEMPTS',`3')               #Max failed capctha_attempts
define(`CACHE_BLOCK_TIME',`3600')               #Block failed captcha for this time
define(`MAX_CONCURRENT',`5')                    #Maximum number of concurrent calls
define(`DESTINATION_COUNTRIES_BLACKLIST',`CU,LV,TN,DZ,MA,AF,IQ,LK,LH,MV,TD,GN,EE,MG')  #PRISM TOP FRAUD DESTINATIONS
define(`PIN',`6578')
define(`SMTP_HOST',`smtp.gmail.com')
define(`SMTP_EMAIL',`wehostvoip@gmail.com')
define(`SMTP_ACCOUNT',`gmail')
define(`SMTP_USER',`wehostvoip')
define(`SMTP_PASSWORD',`##wehostvoip##')
divert(0)